@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-3: #18181b;
  --clr-4: #22c55e;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

div.scrollbar-round::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.rotate-card {
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4)
  );
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
